# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.eggs/
.env
.venv/
scripts/models/
animatch/app/models/
animatch/data/images/
animatch/data/jikan/
animatch/data/overlays/
animatch/data/batch_vectors/

# Editor/IDE
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Test
.pytest_cache/

# Byte-compiled
*.pyc

# Logs
*.log
